[package]
name = "tombi-cli"
version.workspace = true
authors.workspace = true
edition.workspace = true
description = "TOML Formatter/Linter CLI Tool."
repository.workspace = true
license.workspace = true

[[bin]]
name = "tombi"
path = "src/main.rs"

[dependencies]
clap.workspace = true
clap-verbosity-flag.workspace = true
glob.workspace = true
itertools.workspace = true
nu-ansi-term.workspace = true
serde_tombi.workspace = true
thiserror.workspace = true
tokio.workspace = true
tombi-config.workspace = true
tombi-diagnostic.workspace = true
tombi-formatter.workspace = true
tombi-linter.workspace = true
tombi-lsp.workspace = true
tombi-schema-store.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
url.workspace = true
