[package]
name = "tombi-url"
version = "0.0.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
url.workspace = true

[features]
default = ["native"]
native = []
wasm = []
