[package]
name = "tombi-lexer"
version = "0.0.0"
authors.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
itertools.workspace = true
regex.workspace = true
thiserror.workspace = true
tombi-syntax.workspace = true
tombi-text.workspace = true
tracing.workspace = true

[dev-dependencies]
pretty_assertions.workspace = true
rstest.workspace = true
textwrap.workspace = true
tombi-test-lib.workspace = true
